A code has been sent to telegram account you specified upon registration.

<form action="" method="post">
  <input type="text" name="tg_code" placeholder="6-digit code">
  <!-- <input type="text" name="first_name" placeholder="First name"> -->
  <!-- <input type="text" name="last_name" placeholder="Last name"> -->
  <!-- <input type="text" name="middle_name" placeholder="Middle name"> -->
  <!-- <input type="text" name="mail" placeholder="Mail"> -->
  <!-- <input type="text" name="mobile" placeholder="Mobile phone"> -->
  <button type="submit">Submit</button>
</form>
